<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alerta </title>
    <style>
        .label{
            background: #2aa5d6;
        }
        .pLabel{
            text-align: center;
            color: #FFFFFF;
        }
        .pMsg{
            text-align: center; 
        }
        .marg{
            margin-left: 15%;
            margin-right: 15%;
        }
    </style>
</head>
<body>
    <div class="container marg">
        <div class="label">
            <div>
                <br>
                <p class="pLabel" >“La contaminación nunca debería de ser el precio de la prosperidad”</p>
                <p class="pLabel" >- Al Gore</p>
                <br>
            </div>
        </div>
        <h2 style="text-align: center;"><span style="color: #2aa5d6;">Sistema de monitoreo de la calidad del aire</span></h2>
        <br>
        <p class="pMsg" >De acuerdo a los registros de la Red de Monitoreo Ciudadano CERCA, se ha registrado un ascenso de la contaminación en tus zonas la cual rebasa los niveles permitidos, establecidos por la NOM-025-SSA1-2021</p>
        <br>
        <p style="text-align: right;">Visita nuestra página <a href="https://airelimpiobcs.org.mx/">airelimpiobcs.org.mx</a> y síguenos en nuestras redes sociales para más información</p>
        <br>
        <div class="label">
            <br>
            <h2 class="pLabel" >#elairequerespiras</h2>
            <br>
        </div>
        <h2 style="text-align: center;"><span style="color: #2aa5d6;">Únete como amigo del aire limpio, y</span></h2>
        <h1 style="text-align: center;"><a href="https://www.paypal.com/donate/?hosted_button_id=CQX6JXVWALTGG">¡Dona aquí!</a></h1>
        <hr>
        <p style="text-align: center;"  >Agradecemos profundamente a nuestros donadores</p>
    </div>
</body>
</html>